@import './app.css';


.register-sign-up {
  margin: 5px 0 25px 0 !important;
}
.register-form {
  max-width: 444px;
  padding-left: 24px;
  padding-right: 24px;
}
.register-btn {
  background-color: var(--dark) !important;
  color: #fff !important;
}