.m-auto {
  margin: 0 auto;
  display: flex;
}
.p-10 {
  padding: 10px 0;
}

/* Navbar */
.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}
.nav-container {
  margin: 0 0 0 auto;
  padding-right: 50px !important;
}